<p><%= @from.name %> &lt;<%= @from.email %>&gt; has requested to connect with you on Bentley Needs Money, an app for splitting expenses.</p>

<p>To connect with <%= @from.name %> and start splitting expenses, please <%= link_to 'create an account', new_person_registration_url %> with this email address.</p>

<p>Yours truly,</p>

<p>The Bentley Needs Money Crew</p>