:root {
  --main-border: 1px solid var(--bulma-border);
}

html:has(.outer-flex), body:has(.outer-flex), #transfers-index-app, .outer-flex {
  height: 100%;
  overflow: hidden;
}

.outer-flex {
  display: flex;
  flex-direction: column;
}

.outer-flex .action-bar {
  flex: 0 0 auto;
}

.outer-flex .inner-flex {
  flex: 1 1 auto;
  margin-bottom: 0;
  min-height: 0;
}

#navigation-bar {
  border-bottom: var(--main-border);
}

.navbar-menu.is-active {
  border-top: var(--main-border);
}

.navbar-item.title {
  font-size: inherit;
  line-height: inherit;
  margin: 0;
}

.action-bar {
  border-top: var(--main-border);
}

.action-bar .buttons {
  justify-content: center;
}

.action-bar .buttons .button {
  border: none;
  flex-direction: column;
}

.action-bar .buttons .button .icon {
  margin: 0;
}

.action-bar .buttons .button .text {
  font-size: 0.75rem;
}

.card-header {
  border-bottom: var(--main-border);
}

.card-header-title {
  color: var(--bulma-body-color);
  font-weight: var(--bulma-weight-extrabold);
  padding: 10px 12px;
}

.card-footer.buttons .button {
  border-top-left-radius: 0;
}

.notification {
  margin: 1rem 0 0;
}

.notification .delete {
  right: 0.25rem;
  top: 0.25rem;
}

.side-panel .notification {
  margin: 0.5rem;
}

.container > .title {
  margin-top: 1rem;
}

.transfers .transfers-headings, .person-transfer.grid {
  margin-bottom: 0;
}

.transfers {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.transfers .transfers-headings {
  flex: 0 0 auto;
}

.transfers .transfers-content {
  flex: 1 1 auto;
}

.transfers .person-transfer.person-payback {
  background-color: var(--bulma-border);
}

.scroller {
  height: 100%;
  margin: 0;
  overflow-x: hidden;
  overflow-y: scroll;
  padding: 0;
}

.connection-buttons {
  margin: 0.5rem;
}

.connection {
  align-items: center;
  display: flex;
  flex-flow: row ;
  padding-bottom: 0.5rem;
}

.connection .description {
  flex-grow: 1;
}

.connection .description .name  {
  color: var(--bulma-text-bold);
}

.connection .date {
  white-space: nowrap;
}

@media screen and (max-width: 1023px) {
  body > .container  {
    padding: 0 1rem;
  }

  .side-panel {
    position: absolute;
  }

  .side-panel .notification {
    top: 0.5rem;
    left: 0.5rem;
    margin: 0;
    position: fixed;
    right: 0.5rem;
    z-index: 100;
  }

  .side-panel .card {
    display: flex;
    flex-direction: column;
    height: 100%;
    left: 0;
    padding: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
  }

  .side-panel .card .card-header {
    height: 52px;
  }

  .side-panel .card .card-content {
    flex-grow: 1;
  }

  .side-panel .card .card-footer {
    bottom: 0;
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .columns {
    margin-top: 0;
  }

  .column {
    padding-bottom: 0;
    padding-top: 0;
  }

  .inner-flex {
    display: flex;
    flex-direction: column-reverse;
  }

  .inner-flex .main-panel {
    flex: 0 1 auto;
    min-height: 0;
  }

  .transfers .date, .connection-title {
    background-color: var(--bulma-body-background-color);
    border-top: var(--main-border);
    color: var(--bulma-text-bold);
    font-size: 0.9rem;
    padding: 0.25rem 1rem;
  }

  .person-transfer.grid, .connection {
    background-color: var(--bulma-background);
    border-top: var(--main-border);
    color: inherit;
    margin-bottom: 0;
    padding: 0.25rem 0.5rem;
  }
    
  .person-transfer.grid .transfer-payee, .person-transfer.grid .transfer-dollar-amount-paid {
    color: var(--bulma-text-bold);
  }

  .person-transfer.grid .transfer-memo, .person-transfer.grid .person-transfer-dollar-amount, .connection .email {
    font-size: 0.9rem;
  }

  .container:has(.connection) {
    padding: 0;
  }

  .card-footer.buttons .button {
    border-top-left-radius: 0;
  }
}

@media screen and (min-width: 769px) {
  .action-bar {
    border-bottom: var(--main-border);
    border-top: none;
    order: 1;
  }

  .action-bar .buttons {
    justify-content: start;
  }
  
  .action-bar .buttons .button {
    flex-direction: row;
  }

  .action-bar .buttons .button .icon {
    margin: 0 0.25rem 0 -0.5rem;
  }

  .action-bar .buttons .button .text {
    font-size: 1rem;
  }

  .inner-flex {
    order: 2;
  }

  .transfers {
    border-left: var(--main-border);
  }
    
  .transfers .cell {
    padding: 0.25rem 0.5rem;
  }

  .transfers .transfers-headings, .transfers .person-transfer {
    padding: 0 0.5rem;
  }
   
  .transfers .transfers-headings {
    border-bottom: var(--main-border);
    font-size: 0.8rem;
    text-transform: uppercase;
  }
    
  .transfers .transfers-headings div .cell:nth-last-child(n+2) {
    border-right: var(--main-border);
  }

  .transfers .person-transfer {
    border-bottom: var(--main-border);
    color: var(--bulma-text-bold);
  }

  .connection-buttons {
    margin: 1rem 0 0 0;
  }

  .connection-title {
    color: var(--bulma-text-strong);
    font-size: 1.25rem;
    font-weight: var(--bulma-weight-extrabold);
    margin-top: var(--bulma-block-spacing);
  }

  .connection {
    border-bottom: var(--main-border);
    max-width: 384px;
    padding: 0.5rem 0;
  }

  .connection:last-child {
    border-bottom: none;
  }

  .connection .description .name {
    margin-right: 0.5rem;
  }
}