<p>Dear <%= @person.name %>,</p>

<p>Welcome to the Bentley Needs Money app.<p>

<p>Please <%= link_to 'confirm your email address', confirmation_url(@resource, confirmation_token: @token) %> in order to access your account.</p>

<p>Yours truly</p>

<p>The Bentley Needs Money Crew</p>
