<p>Dear <%= @person.name %>,</p>

<% if @resource.try(:unconfirmed_email?) %>
  <p>Your email address has been changed to <%= @resource.unconfirmed_email %>.</p>
<% else %>
  <p>Your email address has been changed to <%= @resource.email %>.</p>
<% end %>

<p>Yours truly,</p>

<p>The Bentley Needs Money Crew</p>
