<p>Dear <%= @person.name %>,</p>

<p>A link to <%= link_to 'reset your password', edit_password_url(@resource, reset_password_token: @token) %> has been requested.</p>

<p>If you did not make this request, please ignore this email.</p>

<p>Your password will not change until you access the link above and create a new one.</p>

<p>Yours truly,</p>

<p>The Bentley Needs Money Crew</p>
