<% content_for :navigable_content do %>
  <div class="container">
    <% if flash.any? %>
        <% flash.each do |type, msg| %>
          <div class="notification is-<%= bulma_notification_name(type) %>" data-turbo-temporary>
            <button class="delete"></button>
            <%= msg %>
          </div>
        <% end %>
    <% end %>
    <%= content_for?(:content) ? yield(:content) : yield %>
  </div>
<% end %>
<%= render template: "layouts/navigable" %>