<% content_for :content do %>
  <div class="container">
    <% if flash.any? %>
        <% flash.each do |type, msg| %>
          <div class="notification is-<%= bulma_notification_name(type) %>" data-turbo-temporary data-controller="clearing">
            <button class="delete" data-action="click->clearing#clearSelf"></button>
            <%= msg %>
          </div>
        <% end %>
    <% end %>
    <%= yield %>
  </div>
<% end %>
<%= render template: "layouts/_main" %>